@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,200;1,300&family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');
:root {
    --primary: #fe2c55; 
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --black: #000;
    --text-color: #333;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
line-height: 1.5;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a  {
    text-decoration: none;
    color: var(--text-color);
}